.svg-chart{
    margin-top:7.5px;
    margin-left: -10px;
    margin-bottom:-20px
}

html, body {margin: 0; height: 100%; overflow: hidden}
body{
    background-image: linear-gradient(#D3D3D3, white);
}

.combo{
    opacity: 0;
    margin-top: 200px;
}

#chart{
    display: block;
    margin: 20px auto 0;
    height: 200px;
    width: 200px;
}

#legend {
    display: block;
    margin: 20px auto 0;
    height: 40px;
    width: 200px;
    opacity: 0;
}

.legend-text{
    font-size: 12px;
    font-family: Formula1 Display-Regular;
    font-weight: normal;
    font-style: normal;
}

.chart-text{
    font-size: 20px;
    font-family: Formula1 Display-Regular;
    font-weight: normal;
    font-style: normal;
    opacity: 0;
}

.driver-info-flex{
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.driver-info-text{
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #000000;
    font-size: 20px;
    font-family: Formula1 Display-Regular;
    font-weight: normal;
    font-style: normal;
    opacity: 0;
}

.border{
    border: 2px solid black;
    border-radius: 10px;
}

.image-border{
    border: 2px solid black;
    border-radius: 10px;
}


.profile-container{
    display: flex;
    justify-content: space-evenly;
}

.banner-svg{
    height: 760px;
    width: 444px;
    margin-top: -640px;
    margin-bottom: 30px;
    border-radius:10px;
}

.shadow-basic {
    -webkit-filter: drop-shadow( 5px 5px 4px rgba(0, 0, 0, .7));
    filter: drop-shadow( 5px 5px 4px rgba(0, 0, 0, .7));
}

.shadow-big {
    -webkit-filter: drop-shadow( 10px 10px 10px rgba(0, 0, 0, .7));
    filter: drop-shadow( 10px 10px 10px rgba(0, 0, 0, .7));
}

.mercedes-logo{
    position: absolute;
    x: 140px;
    y: 606px;
}

.redbull-logo{
    position: absolute;
    x: 140px;
    y: 646px;
}

.card{
    background-color: #F7F4F1;
    width: 400px;
    height: 600px;
    margin: 20px;
    margin-top: 0px;
}

.profile-name{
    text-shadow: 2px 2px 2px #000000;
    font-size: 24px;
    font-family: Formula1 Display-Regular;
    font-weight: normal;
    font-style: normal;
    display:table;
    margin:0 auto;
    margin-top: 8px;
}

.img-profile{
    width: 380px;
    height: auto;
    display:block;
    margin:auto;
    margin-top: 10px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #E10600;
    margin: -0.5em;
    margin-bottom: 0px;
    z-index: 2;
  }

  .f1-logo{
    display: block;
    max-width:50%;
    max-height:50%;
    height: auto;
    margin-left: 20px;
  }


@font-face {
    font-family: 'Formula1 Display-Regular';
    src: url('res/fonts/Formula1-Display-Regular.eot');
    src: url('res/fonts/Formula1-Display-Regular.eot?#iefix') format('embedded-opentype'),
        url('res/fonts/Formula1-Display-Regular.woff2') format('woff2'),
        url('res/fonts/Formula1-Display-Regular.woff') format('woff'),
        url('res/fonts/Formula1-Display-Regular.ttf') format('truetype'),
        url('res/fonts/Formula1-Display-Regular.svg#Formula1-Display-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  .f1-header-text{
    color:white;
    text-align: center;

    font-size: 32px;
    font-family: Formula1 Display-Regular;
    font-weight: normal;
    font-style: normal;
    margin-right: 20px;
  }