svg{
  margin-top:7.5px;
  margin-left: -10px;
  margin-bottom:-20px
}

.names{
    
    text-shadow: 3px 3px 3px #000000;
    font-size: 16px;
    font-family: Formula1 Display-Regular;
    font-weight: normal;
    font-style: normal;
    fill: white;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #E10600;
    margin: -0.5em;
  }

  .f1-logo{
    display: block;
    max-width:50%;
    max-height:50%;
    height: auto;
    margin-left: 20px;
  }


@font-face {
    font-family: 'Formula1 Display-Regular';
    src: url('res/fonts/Formula1-Display-Regular.eot');
    src: url('res/fonts/Formula1-Display-Regular.eot?#iefix') format('embedded-opentype'),
        url('res/fonts/Formula1-Display-Regular.woff2') format('woff2'),
        url('res/fonts/Formula1-Display-Regular.woff') format('woff'),
        url('res/fonts/Formula1-Display-Regular.ttf') format('truetype'),
        url('res/fonts/Formula1-Display-Regular.svg#Formula1-Display-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  .f1-header-text{
    color:white;
    text-align: center;

    font-size: 32px;
    font-family: Formula1 Display-Regular;
    font-weight: normal;
    font-style: normal;
  }

  form {
  display: flex;
  margin-right: 20px;
  }
  input {
    width: 150%;
    height: 32px;
    margin-left: 20px;
    
  }
  .input-text{
    color:black;
    text-align: center;

    font-size: 16px;
    font-family: Formula1 Display-Regular;
    font-weight: normal;
    font-style: normal;
  }
  .button{
    background-color: #1F1F27;
    width: 120%;
    margin-left: 20px;
    border: none;
    border-radius: 5%;
  }
  .button-text{
    color:white;
    text-align: center;

    font-size: 16px;
    font-family: Formula1 Display-Regular;
    font-weight: normal;
    font-style: normal;
  }

  .image-flag{
    width: auto;
    height: 80px;
    margin-top: 50px;
  }
  .image-chicane{
    height: 20px;
    width: auto;
  }

  .grands-prix-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #E10600;
    margin: -0.5em;
    margin-top: 7.5px;
  }
  .grands-prix-text{
    color:white;
    text-align: center;

    font-size: 16px;
    font-family: Formula1 Display-Regular;
    font-weight: normal;
    font-style: normal;
    padding-right: 10px;
  }

  .grands-prix-text:hover{
    text-shadow: 2px 2px 2px #000000;
  }